body { 
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px blue;
    padding: 32px;
    color: white;
}

.chamada {
     background: rgb(240, 240, 101); 
    padding-bottom: 80;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
   font-size: 20px;
}
img{
    height: 200px;
}

.categoria-videos{
    dsiplay: flex;
    overflow-x: auto;
    gap: 20px;
}

section{
    padding-left: 20px;
    padding-right: 20px;
}


    
